<app-navbar-usuario></app-navbar-usuario>

<div class="row row-cols-1 row-cols-md-3 g-4" >
  <div class="col" *ngFor="let serie of series">
    <div class="card" >
      <img src={{serie.Url_imagen}} class="card-img-top" alt="..." routerLink="/capitulo">
      <div class="card-body">
        <h5 class="card-title">{{serie.Titulo}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{serie.Categoria}}</h6>
        <p class="card-text">{{serie.Descripcion}}</p>
        <p class="card-text">{{serie._id.$oid}}</p>
        <a href="#" class="btn btn-primary">Rentar</a>
      </div>
    </div>
  </div>  
   
</div>