<div  style="background: rgb(164, 166, 167);">
    <div class="container" > 
   <figure class="text-center">
        <blockquote class="blockquote">
            <h1><em>Catalogo Capítulo</em></h1><br>
        </blockquote>
    </figure>

    <table border="3" class="table table-bordered border-dark">
        <tr class="border-dark"> <!--Row: Fila-->
            <td>
                    
            </td>
            <td>Id Capítulo</td>
            <td>Id Serie</td>
            <td>Título</td>
            <td>Descripción</td>
            <td>Temporada</td>
            <td>Duración</td>
        </tr>

        <tr class="border-dark"> <!--Row: Fila-->
            <td>
                <div>
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </div>
    
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr> <!--Row: Fila-->
            <td>
                <div>
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </div>
    
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
</div>
