<div  style="background: rgb(164, 166, 167);">
    <div class="container" > 
<figure class="text-center">
    <blockquote class="blockquote">
        <h1><em>Catalogo Series</em></h1><br>
    </blockquote>
</figure>

<table border="3" class="table table-bordered border-dark">
    <tr> <!--Row: Fila-->
        <td>
            
        </td>
        <td>Id Series</td>
        <td>Título</td>
        <td>Categoría</td>
        <td>Descripción</td>
        <td>Temporadas</td>
        <td>Capitulos</td>
        <td>Fecha de estreno</td>
    </tr>

    <tr> <!--Row: Fila-->
        <td>
            <div>
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
            </div>

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>

    <tr> <!--Row: Fila-->
        <td>
            <div>
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
            </div>

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>
</table>
</div>
</div>