<div  style="background: rgb(164, 166, 167);">
<figure class="text-center">
    <blockquote class="blockquote">
      <h1><em>Agregar Serie</em></h1><br>
    </blockquote>
</figure>

<form class="row g-3 " >
  <div class="col-15">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <br><label class="form-label">Título</label>
        <input type="text" class="form-control" formControlName="titulo">
      </div>
      <div class="col-md-3">
        <br><label class="form-label">Categoría</label>
        <input type="text" class="form-control" formControlName="categoria">
      </div>
      <div class="col-md-3">
        <br><label class="form-label">Capítulos</label>
        <input type="text" class="form-control" formControlName="capitulos">
      </div>
    </div>
  </div>

  <div class="col-15">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <label class="form-label">Temporadas</label>
        <input type="text" class="form-control" formControlName="temporadas">
      </div>
      <div class="col-md-3">
        <label class="form-label">Fecha de estreno</label>
        <input type="text" class="form-control" formControlName="fecha">
      </div>
    </div>
  </div>
  <div class="mb-3">
    
      <div class="row align-items-start">
        <div class="col-md-1">
          
        </div>
        <div class="col">
          <br><label for="exampleFormControlTextarea1" class="form-label ms-4">Descripción</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="col-md-1">
          
        </div>
      </div>
  </div>
  <div class="col-15">
    <div class="row justify-content-evenly">
      <div class="col-2">
        <button type="submit" class="btn btn-light">Agregar Capítulo</button>
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-light">Cancelar</button><br><br>
      </div>
  </div>
  </div>
</form>
</div>