<app-navbar-usuario></app-navbar-usuario>

<div class="row row-cols-1 row-cols-md-3 g-4" >
    <div class="col" *ngFor="let pelicula of peliculas">
      <div class="card" >
        <img src={{pelicula.Url_imagen}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{pelicula.Titulo}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{pelicula.Categoria}}</h6>
          <p class="card-text">{{pelicula.Descripcion}}</p>
          <a routerLink="/home-renta" class="btn btn-primary" >Rentar</a>
        </div>
      </div>
    </div>
</div>
 