<app-navbar-usuario></app-navbar-usuario>

<div class="row row-cols-1 row-cols-md-3 g-4" >
    <div class="col">
      <div class="card">
        <img src="assets/pelicula/peli1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hasta el Hueso</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/pelicula/peli5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">¿No es romantico?</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/pelicula/peli3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fractura</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/pelicula/peli4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">En la hierba alta </h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      <div>
      <button class="btn btn-light me-md-2" routerLink="/home" type="button"> Regresar</button>
    </div>
      </div>
    </div>
  </div>
 