<nav class="navbar navbar-expand-lg navbar-dark " style="background: rgb(18, 214, 204);">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['home']">Movie at House</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--<li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" aria-current="page" [routerLink]="['home-administrador']">Administrador</a>
                </li>
                 <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="#">Usuario</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" aria-current="page" [routerLink]="['agregar-capitulo']">Agregar Capitulo</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" aria-current="page" [routerLink]="['agregar-pelicula']">Agregar Pelicula</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" aria-current="page" [routerLink]="['agregar-serie']">Agregar Serie</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" aria-current="page" [routerLink]="['catalogo-capitulos']">Catalogo Capitulos</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" aria-current="page" [routerLink]="['catalogo-peliculas']">Catalogo Peliculas</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" aria-current="page" [routerLink]="['catalogo-series']">Catalogo Series</a>
                </li> 
                <li class="nav-item" routerLinkActive="active" >
                    <a class="nav-link active"  aria-current="page" [routerLink]="['registro']">Registro</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active"  aria-current="page" [routerLink]="['login']">Login</a>
                </li> -->
                
                
            </ul>
            <!--
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
        
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-light me-md-2" routerLink="/login"  type="button">Iniciar Sesión</button>
            <button class="btn btn-light" routerLink="/registro"   type="button">Registro</button>
          </div>


    </div>

</nav>